
    <div class="row">

        <div class="jumbotron">
            <h1>Favorites page</h1>
        </div>


        <form class="form-inline" action = "/favorites/insertGroup" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="groupName" required>
            </div>
            <button type="submit" class="btn btn-default" >Add Group</button>
        </form>

        <div class="row marketing">

            {{#each groups}}
                <div class="col-lg-6">
                    <h3><b><i>Group</i></b>: <a href="/favorites/{{group}}/teams">{{group}}</a></h3>
                </div>
            {{/each}}

        </div>

    </div>

    <script src="/js/couchdbPing.js"></script>
