
    <div id="customForm" class="row">
        <h2>Fill all the fields to authenticate in football-data:</h2>
        <hr>
        <form role="form" action="/user/register" method="post">

            <h3>User name: </h3>
            <input type="text" placeholder="User name" name="username" required>
            <h3>Password: </h3>
            <input type="password" placeholder="Password" name="password" required>
            <h3>E-mail: </h3>
            <input type="email" placeholder="Email" name="email" required>
            <hr>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>