
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Favorites Teams</h1>
    </div>
</div>

<div class="container">
    <div class="row">
            <div class="col-md-4" style="padding-bottom:20px; padding-top:10px; text-align: center">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail3">
          </div>
            <button type="submit" class="btn btn-default">Add Group</button>
        </form>
            </div>

            <div class="dropdown">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown trigger
                <span class="caret"></span>
              </button>

            </div>
    </div>

    <hr>

</div> <!-- /container -->
